doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css")
        title Document
    body 
        .header 
            .header__menu 
                .header__logo 
                    a(href="") 
                        img(src="img/Logo.svg", alt="")
                .header__nav 
                    a(href="") Uquimpent
                    a(href="") About us
                    a(href="") Blog 
                .header__account
                    img(src="img/burger.png", alt="")
                    a(href="")
                        img(src="img/cart.png", alt="")
                        span Account  
            .header__body 
                .header__contacts 
                    p Follow us
                    a(href="")
                        img(src="img/instagram.png", alt="")
                    a(href="")
                        img(src="img/twitter.png", alt="")
                .header__title 
                    p a hiking guide
                    h1 Be prepared for the Mountains and beyond!
                    a(href="") scroll down
                .header__slider 
                    a(href="") Start
                    a(href="") 01
                    a(href="") 02
                    a(href="") 03   
        


        .content 
            .content__body 
                .content__container 
                    .content__info 
                        span GEt Started
                        h2 What level of  hiker are you?
                        p Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker? 
                        a(href="") read more
                    .content__image 
                        img(src="img/01.png", alt="")

                .content__container.cont 
                    .content__image 
                        img(src="img/02.png", alt="")
                    .content__info 
                        span Hiking Essentials
                        h2 Picking the right Hiking Gear!
                        p The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
                        a(href="") read more

                .content__container 
                    .content__info.information
                        span where you go is the key
                        h2 Understand Your Map & Timing
                        p To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction..
                        a(href="") read more
                    .content__image 
                        img(src="img/03.png", alt="")


        .footer 
            .footer__info 
                .footer__logo 
                    a(href="") 
                        img(src="img/Logo.svg", alt="")
                p Get out there & discover your next slope, mountain & destination!
                span Copyright 2019 MNTN, Inc. Terms & Privacy
            .footer__contacts
                .footer__contact 
                    h3 More on The Blog
                    a(href="") About MNTN
                    a(href="") Contributors & Writers
                    a(href="") Write For Us
                    a(href="") Contact Us
                    a(href="") Privacy Policy
                .footer__contact
                    h3 More on MNTN
                    a(href="") The Team 
                    a(href="") Jobs
                    a(href="") Press





        script(src="js/script.js")